NET "dout" LOC = N18;
NET "din" LOC = N17;

NET "rx_data[7]" LOC = T11;
NET "rx_data[6]" LOC = R11;
NET "rx_data[5]" LOC = N11;
NET "rx_data[4]" LOC = M11;
NET "rx_data[3]" LOC = V15;
NET "rx_data[2]" LOC = U15;
NET "rx_data[1]" LOC = V16;
NET "rx_data[0]" LOC = U16;

// System clock
NET "clk" LOC = V10;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 5 ns;
